<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="LinqKit" version="1.1.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Npgsql" version="2.2.5" targetFramework="net45" />
  <package id="Npgsql.EF6" version="2.0.12-pre4" targetFramework="net45" />
  <package id="Npgsql.EntityFramework" version="2.2.5" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
  <package id="Unofficial.Microsoft.SQLServer.SMO.2014" version="12.0.2000.8" targetFramework="net45" />
</packages>